<div class="ui visible sidebar inverted vertical menu ">
        <div class="item logobg">
            <img class="ui fluid image" src="/images/logo-light.png">
        </div>
        <a class="active orange item">
            <div class="ui labeled icon">
                <i class="large user circle icon"></i>
                Register Client
            </div>
        </a>
        <a class="orange item">
            <div class="ui labeled icon">
                <i class="large users icon"></i>
                Manage Clients
            </div>
        </a>
        <a class="orange item">
            <div class="ui labeled icon">
                <i class="large id card icon"></i>
                My Account
            </div>
        </a>
         <a class="orange item">
            <div class="ui labeled icon">
                <i class="large sign out icon"></i>
                Logout
            </div>
        </a>
    </div>