<div class="ui sidebar inverted vertical menu ">
        <div class="item logobg">
            <img class="ui fluid image" src="/images/logo-light.png">
        </div>
        <a class="item" id="member" href="/coop/manage/members">
            <div class="ui labeled icon" >
                <i class="large user circle icon"></i>
                Members Management
            </div>
        </a>
        <a class="item" id="policy" href="/admin/manage/clients">
            <div class="ui labeled icon">
                <i class="large users icon"></i>
                Policy Management
            </div>
        </a>
        <a class="item" id="myacc">
            <div class="ui labeled icon">
                <i class="large id card icon"></i>
                My Account
            </div>
        </a>
         <a class="item">
            <div class="ui labeled icon">
                <i class="large sign out icon"></i>
                Logout
            </div>
        </a>
    </div>