<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- imports -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/semantic-ui/semantic.min.css" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/css/semantic-ui/semantic.min.js"></script>
</head>
<style>

</style>
<body>
    <div class="ui pointing menu" style="padding:1rem;">
        <div class="item">
            <div class="ui logo icon image">
                <i class="user icon"></i>
            </div>
            <b>Fish E Savings</b>
        </div>
        <a class="item">Home</a>
        <a class="item">Services</a>
        <a class="item">About Us</a>
        <div class="right menu">
            <a class="item" onClick="login()">
                Login
            </a>
        </div>
    </div>
    <div class="ui grid">
        <div class="row">
            
        </div>
        <div class="centered row">
            <h1>Our Services</h1>
        </div>
    </div>
    <script src="/scripts/index.js"></script>
</body>
</html>